a,
a:visited,
.magazine-red a,
.magazine-red a:visited {
	color: #f41d00;
}

.magazine-red #nav li a:hover,
.magazine-red #nav li a:active,
.magazine-red #nav .current_page_item a,
.magazine-red #nav .current-cat a,
.magazine-red #nav .current-menu-item a,
.magazine-red h2 a:hover,
.magazine-red #footer a:hover {
	color: #f41d00;
}

.magazine-red #nav li li a,
.magazine-red #nav li li a:link,
.magazine-red #nav li li a:visited {
	background-color: #000;
	color:#999;
}

.magazine-red #nav li li a:hover,
.magazine-red #nav li li a:active,
.magazine-red #subnav li a:hover,
.magazine-red #subnav li a:hover,
.magazine-red #subnav li li a:hover {
	color:#f41d00;
}

#nav li.right a:hover {
	color: #f41d00;
}

#subnav {
	background:#999;
}

#subnav .wrap {
	color: #999;
}

#subnav li li a,
#subnav li li a:link,
#subnav li li a:visited {
	background-color: #999999;
}

.entry-content p {
	padding: 0 0 15px;
}

h1 {
	font-size: 30px;
	line-height: 36px;
}

h2,
h2 a,
h2 a:visited {
	font-size: 18px;
	line-height: 18px;
}

h3 {
	font-size: 18px;
}

#content .slide-excerpt {
    opacity: 0.8;
}

.magazine-red #footer .gototop a {
	background-image:none;
	padding-left:18px;
}

#footer .creds {
	width:auto;
	margin-right:18px;
}

#footer-widgets {
	width:auto;
}

	.flex-direction-nav li .prev {
		left:0;
	}

	.flex-direction-nav li .next {
		right:0;
	}

@media only screen and (min-width: 960px) {
	#wrap,
	#nav {
		width: 960px;
		margin:0 auto;
	}
}
